[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
whitenoise = "*"
gunicorn = "*"
django-environ = "*"
psycopg2-binary = "*"
requests = "*"
django-cors-headers = "*"
django-extensions = "*"
openai = "*"
django-rest-multiple-models = "*"
django-model-mixins = "*"
sentry-sdk = "*"
tenacity = "*"

[dev-packages]

[requires]
python_version = "3.10"
